
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Pirata+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .active{
color: #991b1f;  }
  .slick-list{
    padding: 0 !important;
    height:640px !important;
  }
  .slick-slide{
    width: 100vw !important;
    height: 640px !important;

  }
  .slick-prev:before, .slick-next:before{
    font-size: 30px;
    color: rgb(130 8 8);
    
  }
   .slick-next{
    top: 90%;
    right: 15% !important;
  }
  .slick-prev{
    top: 90%;
    left: 80% !important;
    z-index: 1
  }
  .ALEYKUM::before{
    content: " ";
    display: inline-block;
    position: relative;
    top: -2px;
    left: -15px;
    margin-left: 20px;
    width: 59px !important;
    height: 1px;
    letter-spacing: 6px;
    background-color: #991b1f;
  }
  .activeMenu{
    color: #991b1f !important;
  }
  
  .main-button-styles {
      display: inline-block;
      padding: .75rem 1.25rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      
  }


  